<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>My Diary Log</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />
    @Scripts.Render("~/bundles/striped")
    <noscript>
        @Styles.Render("~/Content/stripedcss")
    </noscript>
    <script type="text/javascript">
        if (window.location.hash == '#_=_') {
            window.location.hash = '';
        }
    </script>
</head>
<body class="left-sidebar" data-ng-app="myselflogApp">
    <div id="wrapper">
        <div id="content">
            <div id="content-inner">
                @RenderBody()
            </div>
        </div>
        <div id="sidebar">
            <div id="logo">
                <h1>mySelfLog</h1>
            </div>
            <nav id="nav">
                <ul>
                    <li class="current_page_item"><a href="#">Log value</a></li>
                    <li><a href="#">Diary</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </nav>
            <section class="is-search">
                <form method="post" action="#">
                    <input type="text" class="text" name="search" placeholder="Search" />
                </form>
            </section>
        </div>
    </div>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/raphael")
    @Scripts.Render("~/bundles/morris")
    @RenderSection("scripts", false)
</body>
</html>